openapi: 3.1.0
info:
  title: Daytona Toolbox API
  version: "1.0"
  description: Toolbox endpoints extracted from the primary Daytona OpenAPI specification.
servers:
  - url: https://proxy.app.daytona.io/toolbox/{sandboxId}
paths:
  /toolbox/{sandboxId}/toolbox/project-dir:
    get:
      deprecated: true
      operationId: getProjectDir_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Project directory retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectDirResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get sandbox project dir"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/user-home-dir:
    get:
      deprecated: true
      operationId: getUserHomeDir_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: User home directory retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserHomeDirResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get sandbox user home dir"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/work-dir:
    get:
      deprecated: true
      operationId: getWorkDir_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Work-dir retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkDirResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get sandbox work-dir"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/files:
    get:
      deprecated: true
      operationId: listFiles_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: path
          required: false
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Files listed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FileInfo"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] List files"
      tags:
        - toolbox
    delete:
      deprecated: true
      description: Delete file inside sandbox
      operationId: deleteFile_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: recursive
          required: false
          in: query
          schema:
            type: boolean
        - name: path
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: File deleted successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Delete file"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/files/download:
    get:
      deprecated: true
      description: Download file from sandbox
      operationId: downloadFile_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: path
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: File downloaded successfully
          content:
            application/json:
              schema:
                type: string
                format: binary
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Download file"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/files/bulk-download:
    post:
      deprecated: true
      description: Streams back a multipart/form-data bundle of the requested paths
      operationId: downloadFiles_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DownloadFiles"
      responses:
        "200":
          description: A multipart/form-data response with each file as a part
          content:
            application/json:
              schema:
                type: string
                format: binary
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Download multiple files"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/files/find:
    get:
      deprecated: true
      description: Search for text/pattern inside sandbox files
      operationId: findInFiles_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: path
          required: true
          in: query
          schema:
            type: string
        - name: pattern
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Search completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Match"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Search for text/pattern in files"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/files/folder:
    post:
      deprecated: true
      description: Create folder inside sandbox
      operationId: createFolder_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: path
          required: true
          in: query
          schema:
            type: string
        - name: mode
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Folder created successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Create folder"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/files/info:
    get:
      deprecated: true
      description: Get file info inside sandbox
      operationId: getFileInfo_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: path
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: File info retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileInfo"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get file info"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/files/move:
    post:
      deprecated: true
      description: Move file inside sandbox
      operationId: moveFile_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: source
          required: true
          in: query
          schema:
            type: string
        - name: destination
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: File moved successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Move file"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/files/permissions:
    post:
      deprecated: true
      description: Set file owner/group/permissions inside sandbox
      operationId: setFilePermissions_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: path
          required: true
          in: query
          schema:
            type: string
        - name: owner
          required: false
          in: query
          schema:
            type: string
        - name: group
          required: false
          in: query
          schema:
            type: string
        - name: mode
          required: false
          in: query
          schema:
            type: string
      responses:
        "200":
          description: File permissions updated successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Set file permissions"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/files/replace:
    post:
      deprecated: true
      description: Replace text/pattern in multiple files inside sandbox
      operationId: replaceInFiles_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReplaceRequest"
      responses:
        "200":
          description: Text replaced successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ReplaceResult"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Replace in files"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/files/search:
    get:
      deprecated: true
      description: Search for files inside sandbox
      operationId: searchFiles_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: path
          required: true
          in: query
          schema:
            type: string
        - name: pattern
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Search completed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchFilesResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Search files"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/files/upload:
    post:
      deprecated: true
      description: Upload file inside sandbox
      operationId: uploadFile_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: path
          required: true
          in: query
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "200":
          description: File uploaded successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Upload file"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/files/bulk-upload:
    post:
      deprecated: true
      description: Upload multiple files inside sandbox
      operationId: uploadFiles_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/UploadFile"
      responses:
        "200":
          description: Files uploaded successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Upload multiple files"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/git/add:
    post:
      deprecated: true
      description: Add files to git commit
      operationId: gitAddFiles_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GitAddRequest"
      responses:
        "200":
          description: Files added to git successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Add files"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/git/branches:
    get:
      deprecated: true
      description: Get branch list from git repository
      operationId: gitListBranches_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: path
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Branch list retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBranchResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get branch list"
      tags:
        - toolbox
    post:
      deprecated: true
      description: Create branch on git repository
      operationId: gitCreateBranch_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GitBranchRequest"
      responses:
        "200":
          description: Branch created successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Create branch"
      tags:
        - toolbox
    delete:
      deprecated: true
      description: Delete branch on git repository
      operationId: gitDeleteBranch_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GitDeleteBranchRequest"
      responses:
        "200":
          description: Branch deleted successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Delete branch"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/git/clone:
    post:
      deprecated: true
      description: Clone git repository
      operationId: gitCloneRepository_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GitCloneRequest"
      responses:
        "200":
          description: Repository cloned successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Clone repository"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/git/commit:
    post:
      deprecated: true
      description: Commit changes to git repository
      operationId: gitCommitChanges_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GitCommitRequest"
      responses:
        "200":
          description: Changes committed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GitCommitResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Commit changes"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/git/history:
    get:
      deprecated: true
      description: Get commit history from git repository
      operationId: gitGetHistory_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: path
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Commit history retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GitCommitInfo"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get commit history"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/git/pull:
    post:
      deprecated: true
      description: Pull changes from remote
      operationId: gitPullChanges_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GitRepoRequest"
      responses:
        "200":
          description: Changes pulled successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Pull changes"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/git/push:
    post:
      deprecated: true
      description: Push changes to remote
      operationId: gitPushChanges_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GitRepoRequest"
      responses:
        "200":
          description: Changes pushed successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Push changes"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/git/checkout:
    post:
      deprecated: true
      description: Checkout branch or commit in git repository
      operationId: gitCheckoutBranch_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GitCheckoutRequest"
      responses:
        "200":
          description: Branch checked out successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Checkout branch"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/git/status:
    get:
      deprecated: true
      description: Get status from git repository
      operationId: gitGetStatus_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: path
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: Git status retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GitStatus"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get git status"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/process/execute:
    post:
      deprecated: true
      description: Execute command synchronously inside sandbox
      operationId: executeCommand_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecuteRequest"
      responses:
        "200":
          description: Command executed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecuteResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Execute command"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/process/session:
    get:
      deprecated: true
      description: List all active sessions in the sandbox
      operationId: listSessions_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Sessions retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Session"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] List sessions"
      tags:
        - toolbox
    post:
      deprecated: true
      description: Create a new session in the sandbox
      operationId: createSession_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSessionRequest"
      responses:
        "200":
          description: ""
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Create session"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/process/session/{sessionId}:
    get:
      deprecated: true
      description: Get session by ID
      operationId: getSession_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: sessionId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Session retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get session"
      tags:
        - toolbox
    delete:
      deprecated: true
      description: Delete a specific session
      operationId: deleteSession_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: sessionId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Session deleted successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Delete session"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/process/session/{sessionId}/exec:
    post:
      deprecated: true
      description: Execute a command in a specific session
      operationId: executeSessionCommand_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: sessionId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionExecuteRequest"
      responses:
        "200":
          description: Command executed successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionExecuteResponse"
        "202":
          description: Command accepted and is being processed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SessionExecuteResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Execute command in session"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/process/session/{sessionId}/command/{commandId}:
    get:
      deprecated: true
      description: Get session command by ID
      operationId: getSessionCommand_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: sessionId
          required: true
          in: path
          schema:
            type: string
        - name: commandId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Session command retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Command"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get session command"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/process/session/{sessionId}/command/{commandId}/logs:
    get:
      deprecated: true
      description: Get logs for a specific command in a session
      operationId: getSessionCommandLogs_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: sessionId
          required: true
          in: path
          schema:
            type: string
        - name: commandId
          required: true
          in: path
          schema:
            type: string
        - name: follow
          required: false
          in: query
          description: Whether to stream the logs
          schema:
            type: boolean
      responses:
        "200":
          description: Command log stream marked with stdout and stderr prefixes
          content:
            text/plain:
              schema:
                type: string
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get command logs"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/process/pty:
    get:
      deprecated: true
      description: List all active PTY sessions in the sandbox
      operationId: listPTYSessions_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: PTY sessions retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PtyListResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] List PTY sessions"
      tags:
        - toolbox
    post:
      deprecated: true
      description: Create a new PTY session in the sandbox
      operationId: createPTYSession_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PtyCreateRequest"
      responses:
        "201":
          description: PTY session created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PtyCreateResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Create PTY session"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/process/pty/{sessionId}:
    get:
      deprecated: true
      description: Get PTY session information by ID
      operationId: getPTYSession_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: sessionId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: PTY session retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PtySessionInfo"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get PTY session"
      tags:
        - toolbox
    delete:
      deprecated: true
      description: Delete a PTY session and terminate the associated process
      operationId: deletePTYSession_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: sessionId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: PTY session deleted successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Delete PTY session"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/process/pty/{sessionId}/resize:
    post:
      deprecated: true
      description: Resize a PTY session
      operationId: resizePTYSession_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: sessionId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PtyResizeRequest"
      responses:
        "200":
          description: PTY session resized successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PtySessionInfo"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Resize PTY session"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/completions:
    post:
      deprecated: true
      description: The Completion request is sent from the client to the server to
        compute completion items at a given cursor position.
      operationId: LspCompletions_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LspCompletionParams"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompletionList"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get Lsp Completions"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/did-close:
    post:
      deprecated: true
      description: The document close notification is sent from the client to the
        server when the document got closed in the client.
      operationId: LspDidClose_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LspDocumentRequest"
      responses:
        "200":
          description: OK
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Call Lsp DidClose"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/did-open:
    post:
      deprecated: true
      description: The document open notification is sent from the client to the
        server to signal newly opened text documents.
      operationId: LspDidOpen_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LspDocumentRequest"
      responses:
        "200":
          description: OK
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Call Lsp DidOpen"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/document-symbols:
    get:
      deprecated: true
      description: The document symbol request is sent from the client to the server.
      operationId: LspDocumentSymbols_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: languageId
          required: true
          in: query
          schema:
            type: string
        - name: pathToProject
          required: true
          in: query
          schema:
            type: string
        - name: uri
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LspSymbol"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Call Lsp DocumentSymbols"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/start:
    post:
      deprecated: true
      description: Start Lsp server process inside sandbox project
      operationId: LspStart_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LspServerRequest"
      responses:
        "200":
          description: OK
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Start Lsp server"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/stop:
    post:
      deprecated: true
      description: Stop Lsp server process inside sandbox project
      operationId: LspStop_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LspServerRequest"
      responses:
        "200":
          description: OK
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Stop Lsp server"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/lsp/workspace-symbols:
    get:
      deprecated: true
      description: The workspace symbol request is sent from the client to the server
        to list project-wide symbols matching the query string.
      operationId: LspWorkspaceSymbols_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: languageId
          required: true
          in: query
          schema:
            type: string
        - name: pathToProject
          required: true
          in: query
          schema:
            type: string
        - name: query
          required: true
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/LspSymbol"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Call Lsp WorkspaceSymbols"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/start:
    post:
      deprecated: true
      description: Start all VNC desktop processes (Xvfb, xfce4, x11vnc, novnc)
      operationId: startComputerUse_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Computer use processes started successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputerUseStartResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Start computer use processes"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/stop:
    post:
      deprecated: true
      description: Stop all VNC desktop processes (Xvfb, xfce4, x11vnc, novnc)
      operationId: stopComputerUse_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Computer use processes stopped successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputerUseStopResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Stop computer use processes"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/status:
    get:
      deprecated: true
      description: Get status of all VNC desktop processes
      operationId: getComputerUseStatus_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Computer use status retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComputerUseStatusResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get computer use status"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/process/{processName}/status:
    get:
      deprecated: true
      description: Get status of a specific VNC process
      operationId: getProcessStatus_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: processName
          required: true
          in: path
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Process status retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessStatusResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get process status"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/process/{processName}/restart:
    post:
      deprecated: true
      description: Restart a specific VNC process
      operationId: restartProcess_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: processName
          required: true
          in: path
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Process restarted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessRestartResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Restart process"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/process/{processName}/logs:
    get:
      deprecated: true
      description: Get logs for a specific VNC process
      operationId: getProcessLogs_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: processName
          required: true
          in: path
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Process logs retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessLogsResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get process logs"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/process/{processName}/errors:
    get:
      deprecated: true
      description: Get error logs for a specific VNC process
      operationId: getProcessErrors_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: processName
          required: true
          in: path
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Process errors retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProcessErrorsResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get process errors"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/mouse/position:
    get:
      deprecated: true
      description: Get current mouse cursor position
      operationId: getMousePosition_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Mouse position retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MousePosition"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get mouse position"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/mouse/move:
    post:
      deprecated: true
      description: Move mouse cursor to specified coordinates
      operationId: moveMouse_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MouseMoveRequest"
      responses:
        "200":
          description: Mouse moved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MouseMoveResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Move mouse"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/mouse/click:
    post:
      deprecated: true
      description: Click mouse at specified coordinates
      operationId: clickMouse_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MouseClickRequest"
      responses:
        "200":
          description: Mouse clicked successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MouseClickResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Click mouse"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/mouse/drag:
    post:
      deprecated: true
      description: Drag mouse from start to end coordinates
      operationId: dragMouse_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MouseDragRequest"
      responses:
        "200":
          description: Mouse dragged successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MouseDragResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Drag mouse"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/mouse/scroll:
    post:
      deprecated: true
      description: Scroll mouse at specified coordinates
      operationId: scrollMouse_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MouseScrollRequest"
      responses:
        "200":
          description: Mouse scrolled successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MouseScrollResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Scroll mouse"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/keyboard/type:
    post:
      deprecated: true
      description: Type text using keyboard
      operationId: typeText_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyboardTypeRequest"
      responses:
        "200":
          description: Text typed successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Type text"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/keyboard/key:
    post:
      deprecated: true
      description: Press a key with optional modifiers
      operationId: pressKey_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyboardPressRequest"
      responses:
        "200":
          description: Key pressed successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Press key"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/keyboard/hotkey:
    post:
      deprecated: true
      description: Press a hotkey combination
      operationId: pressHotkey_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KeyboardHotkeyRequest"
      responses:
        "200":
          description: Hotkey pressed successfully
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Press hotkey"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/screenshot:
    get:
      deprecated: true
      description: Take a screenshot of the entire screen
      operationId: takeScreenshot_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: show_cursor
          required: false
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Screenshot taken successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScreenshotResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Take screenshot"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/screenshot/region:
    get:
      deprecated: true
      description: Take a screenshot of a specific region
      operationId: takeRegionScreenshot_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: show_cursor
          required: false
          in: query
          schema:
            type: boolean
        - name: height
          required: true
          in: query
          schema:
            type: number
        - name: width
          required: true
          in: query
          schema:
            type: number
        - name: y
          required: true
          in: query
          schema:
            type: number
        - name: x
          required: true
          in: query
          schema:
            type: number
      responses:
        "200":
          description: Region screenshot taken successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegionScreenshotResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Take region screenshot"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/screenshot/compressed:
    get:
      deprecated: true
      description: Take a compressed screenshot with format, quality, and scale options
      operationId: takeCompressedScreenshot_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: scale
          required: false
          in: query
          schema:
            type: number
        - name: quality
          required: false
          in: query
          schema:
            type: number
        - name: format
          required: false
          in: query
          schema:
            type: string
        - name: show_cursor
          required: false
          in: query
          schema:
            type: boolean
      responses:
        "200":
          description: Compressed screenshot taken successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompressedScreenshotResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Take compressed screenshot"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/screenshot/region/compressed:
    get:
      deprecated: true
      description: Take a compressed screenshot of a specific region
      operationId: takeCompressedRegionScreenshot_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
        - name: scale
          required: false
          in: query
          schema:
            type: number
        - name: quality
          required: false
          in: query
          schema:
            type: number
        - name: format
          required: false
          in: query
          schema:
            type: string
        - name: show_cursor
          required: false
          in: query
          schema:
            type: boolean
        - name: height
          required: true
          in: query
          schema:
            type: number
        - name: width
          required: true
          in: query
          schema:
            type: number
        - name: y
          required: true
          in: query
          schema:
            type: number
        - name: x
          required: true
          in: query
          schema:
            type: number
      responses:
        "200":
          description: Compressed region screenshot taken successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompressedScreenshotResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Take compressed region screenshot"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/display/info:
    get:
      deprecated: true
      description: Get information about displays
      operationId: getDisplayInfo_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Display info retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DisplayInfoResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get display info"
      tags:
        - toolbox
  /toolbox/{sandboxId}/toolbox/computeruse/display/windows:
    get:
      deprecated: true
      description: Get list of open windows
      operationId: getWindows_deprecated
      parameters:
        - name: X-Daytona-Organization-ID
          in: header
          description: Use with JWT to specify the organization ID
          required: false
          schema:
            type: string
        - name: sandboxId
          required: true
          in: path
          schema:
            type: string
      responses:
        "200":
          description: Windows list retrieved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WindowsResponse"
      security:
        - bearer: []
        - oauth2:
            - openid
            - profile
            - email
      summary: "[DEPRECATED] Get windows"
      tags:
        - toolbox
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
      description: API Key access
    oauth2:
      type: openIdConnect
      openIdConnectUrl: http://localhost:3000/.well-known/openid-configuration
  schemas:
    Announcement:
      type: object
      properties:
        text:
          type: string
          description: The announcement text
          example: New feature available!
        learnMoreUrl:
          type: string
          description: URL to learn more about the announcement
          example: https://example.com/learn-more
      required:
        - text
    PosthogConfig:
      type: object
      properties:
        apiKey:
          type: string
          description: PostHog API key
          example: phc_abc123
        host:
          type: string
          description: PostHog host URL
          example: https://app.posthog.com
      required:
        - apiKey
        - host
    OidcConfig:
      type: object
      properties:
        issuer:
          type: string
          description: OIDC issuer
          example: https://auth.example.com
        clientId:
          type: string
          description: OIDC client ID
          example: daytona-client
        audience:
          type: string
          description: OIDC audience
          example: daytona-api
      required:
        - issuer
        - clientId
        - audience
    RateLimitEntry:
      type: object
      properties:
        ttl:
          type: number
          description: Rate limit TTL in seconds
          example: 60
        limit:
          type: number
          description: Rate limit max requests
          example: 100
    RateLimitConfig:
      type: object
      properties:
        failedAuth:
          description: Failed authentication rate limit
          allOf:
            - $ref: "#/components/schemas/RateLimitEntry"
        authenticated:
          description: Authenticated rate limit
          allOf:
            - $ref: "#/components/schemas/RateLimitEntry"
        sandboxCreate:
          description: Sandbox create rate limit
          allOf:
            - $ref: "#/components/schemas/RateLimitEntry"
        sandboxLifecycle:
          description: Sandbox lifecycle rate limit
          allOf:
            - $ref: "#/components/schemas/RateLimitEntry"
    DaytonaConfiguration:
      type: object
      properties:
        version:
          type: string
          description: Daytona version
          example: 0.0.1
        posthog:
          description: PostHog configuration
          allOf:
            - $ref: "#/components/schemas/PosthogConfig"
        oidc:
          description: OIDC configuration
          allOf:
            - $ref: "#/components/schemas/OidcConfig"
        linkedAccountsEnabled:
          type: boolean
          description: Whether linked accounts are enabled
          example: true
        announcements:
          type: object
          description: System announcements
          additionalProperties:
            $ref: "#/components/schemas/Announcement"
          example:
            feature-update:
              text: New feature available!
              learnMoreUrl: https://example.com
        pylonAppId:
          type: string
          description: Pylon application ID
          example: pylon-app-123
        proxyTemplateUrl:
          type: string
          description: Proxy template URL
          example: https://{{PORT}}-{{sandboxId}}.proxy.example.com
        proxyToolboxUrl:
          type: string
          description: Toolbox template URL
          example: https://proxy.example.com/toolbox
        defaultSnapshot:
          type: string
          description: Default snapshot for sandboxes
          example: ubuntu:22.04
        dashboardUrl:
          type: string
          description: Dashboard URL
          example: https://dashboard.example.com
        maxAutoArchiveInterval:
          type: number
          description: Maximum auto-archive interval in minutes
          example: 43200
        maintananceMode:
          type: boolean
          description: Whether maintenance mode is enabled
          example: false
        environment:
          type: string
          description: Current environment
          example: production
        billingApiUrl:
          type: string
          description: Billing API URL
          example: https://billing.example.com
        sshGatewayCommand:
          type: string
          description: SSH Gateway command
          example: ssh -p 2222 {{TOKEN}}@localhost
        sshGatewayPublicKey:
          type: string
          description: Base64 encoded SSH Gateway public key
          example: ssh-gateway-public-key
        rateLimit:
          description: Rate limit configuration
          allOf:
            - $ref: "#/components/schemas/RateLimitConfig"
      required:
        - version
        - oidc
        - linkedAccountsEnabled
        - announcements
        - proxyTemplateUrl
        - proxyToolboxUrl
        - defaultSnapshot
        - dashboardUrl
        - maxAutoArchiveInterval
        - maintananceMode
        - environment
    CreateApiKey:
      type: object
      properties:
        name:
          type: string
          description: The name of the API key
          example: My API Key
        permissions:
          type: array
          description: The list of organization resource permissions assigned to the API key
          items:
            type: string
            enum:
              - write:registries
              - delete:registries
              - write:snapshots
              - delete:snapshots
              - write:sandboxes
              - delete:sandboxes
              - read:volumes
              - write:volumes
              - delete:volumes
              - write:regions
              - delete:regions
              - read:runners
              - write:runners
              - delete:runners
              - read:audit_logs
        expiresAt:
          format: date-time
          type: string
          description: When the API key expires
          example: 2025-06-09T12:00:00.000Z
          nullable: true
      required:
        - name
        - permissions
    ApiKeyResponse:
      type: object
      properties:
        name:
          type: string
          description: The name of the API key
          example: My API Key
        value:
          type: string
          description: The API key value
          example: bb_sk_1234567890abcdef
        createdAt:
          format: date-time
          type: string
          description: When the API key was created
          example: 2024-03-14T12:00:00.000Z
        permissions:
          type: array
          description: The list of organization resource permissions assigned to the API key
          items:
            type: string
            enum:
              - write:registries
              - delete:registries
              - write:snapshots
              - delete:snapshots
              - write:sandboxes
              - delete:sandboxes
              - read:volumes
              - write:volumes
              - delete:volumes
              - write:regions
              - delete:regions
              - read:runners
              - write:runners
              - delete:runners
              - read:audit_logs
        expiresAt:
          format: date-time
          type: string
          description: When the API key expires
          example: 2025-06-09T12:00:00.000Z
          nullable: true
      required:
        - name
        - value
        - createdAt
        - permissions
        - expiresAt
    ApiKeyList:
      type: object
      properties:
        name:
          type: string
          description: The name of the API key
          example: My API Key
        value:
          type: string
          description: The masked API key value
          example: bb_********************def
        createdAt:
          format: date-time
          type: string
          description: When the API key was created
          example: 2024-03-14T12:00:00.000Z
        permissions:
          type: array
          description: The list of organization resource permissions assigned to the API key
          items:
            type: string
            enum:
              - write:registries
              - delete:registries
              - write:snapshots
              - delete:snapshots
              - write:sandboxes
              - delete:sandboxes
              - read:volumes
              - write:volumes
              - delete:volumes
              - write:regions
              - delete:regions
              - read:runners
              - write:runners
              - delete:runners
              - read:audit_logs
        lastUsedAt:
          format: date-time
          type: string
          description: When the API key was last used
          example: 2024-03-14T12:00:00.000Z
          nullable: true
        expiresAt:
          format: date-time
          type: string
          description: When the API key expires
          example: 2024-03-14T12:00:00.000Z
          nullable: true
        userId:
          type: string
          description: The user ID of the user who created the API key
          example: "123"
      required:
        - name
        - value
        - createdAt
        - permissions
        - lastUsedAt
        - expiresAt
        - userId
    OrganizationRole:
      type: object
      properties:
        id:
          type: string
          description: Role ID
        name:
          type: string
          description: Role name
        description:
          type: string
          description: Role description
        permissions:
          type: array
          description: Roles assigned to the user
          items:
            type: string
            enum:
              - write:registries
              - delete:registries
              - write:snapshots
              - delete:snapshots
              - write:sandboxes
              - delete:sandboxes
              - read:volumes
              - write:volumes
              - delete:volumes
              - write:regions
              - delete:regions
              - read:runners
              - write:runners
              - delete:runners
              - read:audit_logs
        isGlobal:
          type: boolean
          description: Global role flag
        createdAt:
          format: date-time
          type: string
          description: Creation timestamp
        updatedAt:
          format: date-time
          type: string
          description: Last update timestamp
      required:
        - id
        - name
        - description
        - permissions
        - isGlobal
        - createdAt
        - updatedAt
    OrganizationInvitation:
      type: object
      properties:
        id:
          type: string
          description: Invitation ID
        email:
          type: string
          description: Email address of the invitee
        invitedBy:
          type: string
          description: Email address of the inviter
        organizationId:
          type: string
          description: Organization ID
        organizationName:
          type: string
          description: Organization name
        expiresAt:
          format: date-time
          type: string
          description: Expiration date of the invitation
        status:
          type: string
          description: Invitation status
          enum:
            - pending
            - accepted
            - declined
            - cancelled
        role:
          type: string
          description: Member role
          enum:
            - owner
            - member
        assignedRoles:
          description: Assigned roles
          type: array
          items:
            $ref: "#/components/schemas/OrganizationRole"
        createdAt:
          format: date-time
          type: string
          description: Creation timestamp
        updatedAt:
          format: date-time
          type: string
          description: Last update timestamp
      required:
        - id
        - email
        - invitedBy
        - organizationId
        - organizationName
        - expiresAt
        - status
        - role
        - assignedRoles
        - createdAt
        - updatedAt
    CreateOrganization:
      type: object
      properties:
        name:
          type: string
          description: The name of organization
          example: My Organization
        defaultRegionId:
          type: string
          description: The ID of the default region for the organization
          example: us
      required:
        - name
        - defaultRegionId
    Organization:
      type: object
      properties:
        id:
          type: string
          description: Organization ID
        name:
          type: string
          description: Organization name
        createdBy:
          type: string
          description: User ID of the organization creator
        personal:
          type: boolean
          description: Personal organization flag
        createdAt:
          format: date-time
          type: string
          description: Creation timestamp
        updatedAt:
          format: date-time
          type: string
          description: Last update timestamp
        suspended:
          type: boolean
          description: Suspended flag
        suspendedAt:
          format: date-time
          type: string
          description: Suspended at
        suspensionReason:
          type: string
          description: Suspended reason
        suspendedUntil:
          format: date-time
          type: string
          description: Suspended until
        suspensionCleanupGracePeriodHours:
          type: number
          description: Suspension cleanup grace period hours
        maxCpuPerSandbox:
          type: number
          description: Max CPU per sandbox
        maxMemoryPerSandbox:
          type: number
          description: Max memory per sandbox
        maxDiskPerSandbox:
          type: number
          description: Max disk per sandbox
        sandboxLimitedNetworkEgress:
          type: boolean
          description: Sandbox default network block all
        defaultRegionId:
          type: string
          description: Default region ID
        authenticatedRateLimit:
          type: number
          description: Authenticated rate limit per minute
          nullable: true
        sandboxCreateRateLimit:
          type: number
          description: Sandbox create rate limit per minute
          nullable: true
        sandboxLifecycleRateLimit:
          type: number
          description: Sandbox lifecycle rate limit per minute
          nullable: true
        experimentalConfig:
          type: object
          description: Experimental configuration
        authenticatedRateLimitTtlSeconds:
          type: number
          description: Authenticated rate limit TTL in seconds
          nullable: true
        sandboxCreateRateLimitTtlSeconds:
          type: number
          description: Sandbox create rate limit TTL in seconds
          nullable: true
        sandboxLifecycleRateLimitTtlSeconds:
          type: number
          description: Sandbox lifecycle rate limit TTL in seconds
          nullable: true
      required:
        - id
        - name
        - createdBy
        - personal
        - createdAt
        - updatedAt
        - suspended
        - suspendedAt
        - suspensionReason
        - suspendedUntil
        - suspensionCleanupGracePeriodHours
        - maxCpuPerSandbox
        - maxMemoryPerSandbox
        - maxDiskPerSandbox
        - sandboxLimitedNetworkEgress
        - authenticatedRateLimit
        - sandboxCreateRateLimit
        - sandboxLifecycleRateLimit
        - experimentalConfig
        - authenticatedRateLimitTtlSeconds
        - sandboxCreateRateLimitTtlSeconds
        - sandboxLifecycleRateLimitTtlSeconds
    UpdateOrganizationDefaultRegion:
      type: object
      properties:
        defaultRegionId:
          type: string
          description: The ID of the default region for the organization
          example: us
      required:
        - defaultRegionId
    RegionUsageOverview:
      type: object
      properties:
        regionId:
          type: string
        totalCpuQuota:
          type: number
        currentCpuUsage:
          type: number
        totalMemoryQuota:
          type: number
        currentMemoryUsage:
          type: number
        totalDiskQuota:
          type: number
        currentDiskUsage:
          type: number
      required:
        - regionId
        - totalCpuQuota
        - currentCpuUsage
        - totalMemoryQuota
        - currentMemoryUsage
        - totalDiskQuota
        - currentDiskUsage
    OrganizationUsageOverview:
      type: object
      properties:
        regionUsage:
          type: array
          items:
            $ref: "#/components/schemas/RegionUsageOverview"
        totalSnapshotQuota:
          type: number
        currentSnapshotUsage:
          type: number
        totalVolumeQuota:
          type: number
        currentVolumeUsage:
          type: number
      required:
        - regionUsage
        - totalSnapshotQuota
        - currentSnapshotUsage
        - totalVolumeQuota
        - currentVolumeUsage
    UpdateOrganizationQuota:
      type: object
      properties:
        maxCpuPerSandbox:
          type: number
          nullable: true
        maxMemoryPerSandbox:
          type: number
          nullable: true
        maxDiskPerSandbox:
          type: number
          nullable: true
        snapshotQuota:
          type: number
          nullable: true
        maxSnapshotSize:
          type: number
          nullable: true
        volumeQuota:
          type: number
          nullable: true
        authenticatedRateLimit:
          type: number
          nullable: true
        sandboxCreateRateLimit:
          type: number
          nullable: true
        sandboxLifecycleRateLimit:
          type: number
          nullable: true
        authenticatedRateLimitTtlSeconds:
          type: number
          nullable: true
        sandboxCreateRateLimitTtlSeconds:
          type: number
          nullable: true
        sandboxLifecycleRateLimitTtlSeconds:
          type: number
          nullable: true
      required:
        - maxCpuPerSandbox
        - maxMemoryPerSandbox
        - maxDiskPerSandbox
        - snapshotQuota
        - maxSnapshotSize
        - volumeQuota
        - authenticatedRateLimit
        - sandboxCreateRateLimit
        - sandboxLifecycleRateLimit
        - authenticatedRateLimitTtlSeconds
        - sandboxCreateRateLimitTtlSeconds
        - sandboxLifecycleRateLimitTtlSeconds
    UpdateOrganizationRegionQuota:
      type: object
      properties:
        totalCpuQuota:
          type: number
          nullable: true
        totalMemoryQuota:
          type: number
          nullable: true
        totalDiskQuota:
          type: number
          nullable: true
      required:
        - totalCpuQuota
        - totalMemoryQuota
        - totalDiskQuota
    OrganizationSuspension:
      type: object
      properties:
        reason:
          type: string
          description: Suspension reason
        until:
          format: date-time
          type: string
          description: Suspension until
        suspensionCleanupGracePeriodHours:
          type: number
          description: Suspension cleanup grace period hours
          minimum: 0
      required:
        - reason
        - until
    RegionQuota:
      type: object
      properties:
        organizationId:
          type: string
        regionId:
          type: string
        totalCpuQuota:
          type: number
        totalMemoryQuota:
          type: number
        totalDiskQuota:
          type: number
      required:
        - organizationId
        - regionId
        - totalCpuQuota
        - totalMemoryQuota
        - totalDiskQuota
    OtelConfig:
      type: object
      properties:
        endpoint:
          type: string
          description: Endpoint
        headers:
          type: object
          description: Headers
          example:
            x-api-key: my-api-key
          nullable: true
          additionalProperties:
            type: string
      required:
        - endpoint
        - headers
    OrganizationSandboxDefaultLimitedNetworkEgress:
      type: object
      properties:
        sandboxDefaultLimitedNetworkEgress:
          type: boolean
          description: Sandbox default limited network egress
      required:
        - sandboxDefaultLimitedNetworkEgress
    CreateOrganizationRole:
      type: object
      properties:
        name:
          type: string
          description: The name of the role
          example: Maintainer
        description:
          type: string
          description: The description of the role
          example: Can manage all resources
        permissions:
          type: array
          description: The list of permissions assigned to the role
          items:
            type: string
            enum:
              - write:registries
              - delete:registries
              - write:snapshots
              - delete:snapshots
              - write:sandboxes
              - delete:sandboxes
              - read:volumes
              - write:volumes
              - delete:volumes
              - write:regions
              - delete:regions
              - read:runners
              - write:runners
              - delete:runners
              - read:audit_logs
      required:
        - name
        - description
        - permissions
    UpdateOrganizationRole:
      type: object
      properties:
        name:
          type: string
          description: The name of the role
          example: Maintainer
        description:
          type: string
          description: The description of the role
          example: Can manage all resources
        permissions:
          type: array
          description: The list of permissions assigned to the role
          items:
            type: string
            enum:
              - write:registries
              - delete:registries
              - write:snapshots
              - delete:snapshots
              - write:sandboxes
              - delete:sandboxes
              - read:volumes
              - write:volumes
              - delete:volumes
              - write:regions
              - delete:regions
              - read:runners
              - write:runners
              - delete:runners
              - read:audit_logs
      required:
        - name
        - description
        - permissions
    OrganizationUser:
      type: object
      properties:
        userId:
          type: string
          description: User ID
        organizationId:
          type: string
          description: Organization ID
        name:
          type: string
          description: User name
        email:
          type: string
          description: User email
        role:
          type: string
          description: Member role
          enum:
            - owner
            - member
        assignedRoles:
          description: Roles assigned to the user
          type: array
          items:
            $ref: "#/components/schemas/OrganizationRole"
        createdAt:
          format: date-time
          type: string
          description: Creation timestamp
        updatedAt:
          format: date-time
          type: string
          description: Last update timestamp
      required:
        - userId
        - organizationId
        - name
        - email
        - role
        - assignedRoles
        - createdAt
        - updatedAt
    UpdateOrganizationMemberAccess:
      type: object
      properties:
        role:
          type: string
          description: Organization member role
          enum:
            - owner
            - member
          default: member
        assignedRoleIds:
          description: Array of assigned role IDs
          default:
            - 00000000-0000-0000-0000-000000000001
          type: array
          items:
            type: string
      required:
        - role
        - assignedRoleIds
    CreateOrganizationInvitation:
      type: object
      properties:
        email:
          type: string
          description: Email address of the invitee
          example: mail@example.com
        role:
          type: string
          description: Organization member role for the invitee
          enum:
            - owner
            - member
          default: member
        assignedRoleIds:
          description: Array of assigned role IDs for the invitee
          default:
            - 00000000-0000-0000-0000-000000000001
          type: array
          items:
            type: string
        expiresAt:
          format: date-time
          type: string
          description: Expiration date of the invitation
          example: 2021-12-31T23:59:59Z
      required:
        - email
        - role
        - assignedRoleIds
    UpdateOrganizationInvitation:
      type: object
      properties:
        role:
          type: string
          description: Organization member role
          enum:
            - owner
            - member
        assignedRoleIds:
          description: Array of role IDs
          type: array
          items:
            type: string
        expiresAt:
          format: date-time
          type: string
          description: Expiration date of the invitation
          example: 2021-12-31T23:59:59Z
      required:
        - role
        - assignedRoleIds
    RegionType:
      type: string
      enum:
        - shared
        - dedicated
        - custom
      description: The type of the region
    Region:
      type: object
      properties:
        id:
          type: string
          description: Region ID
          example: "123456789012"
        name:
          type: string
          description: Region name
          example: us-east-1
        organizationId:
          type: string
          description: Organization ID
          example: 123e4567-e89b-12d3-a456-426614174000
          nullable: true
        regionType:
          description: The type of the region
          example: shared
          allOf:
            - $ref: "#/components/schemas/RegionType"
        createdAt:
          type: string
          description: Creation timestamp
          example: 2023-01-01T00:00:00.000Z
        updatedAt:
          type: string
          description: Last update timestamp
          example: 2023-01-01T00:00:00.000Z
        proxyUrl:
          type: string
          description: Proxy URL for the region
          example: https://proxy.example.com
          nullable: true
        sshGatewayUrl:
          type: string
          description: SSH Gateway URL for the region
          example: http://ssh-gateway.example.com
          nullable: true
        snapshotManagerUrl:
          type: string
          description: Snapshot Manager URL for the region
          example: http://snapshot-manager.example.com
          nullable: true
      required:
        - id
        - name
        - regionType
        - createdAt
        - updatedAt
    CreateRegion:
      type: object
      properties:
        name:
[...]
